.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2a273f; /* Rosé Pine Moon background color */
  color: #3e8fb0; /* Pine color */
}

.title {
  font-size: 8rem;
  margin-bottom: 2rem;
}

