.cursor {
    font-weight: 200;
    animation: blink 1.6s steps(2, start) infinite;
    display: inline-block; /* Ensure the cursor occupies consistent space */
    width: 0.5em; /* Match the width of the underscore */
    text-align: left; /* Align the cursor to the left */
    color: #e0def4; /* Pine color */
  }
  
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }